@use './reset.scss';

button {
  background-color: var(--color-itens);
  border: 2px solid var(--color-itens);
  border-radius: 30px;
  box-shadow: var(--color-itens) 2px 2px 0 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: var(--color-itens-hover);
  }

  &:active {
    box-shadow: var(--color-itens) 0px 0px 0 0;
    transform: translate(2px, 2px);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-itens);
  width: 300px;
  text-align: center;
}
