:root {
  --color-background: #181818;
  --color-background-soft: #222222;
  --color-background-mute: #282828;

  --color-itens: rgba(84, 84, 84, 0.48);
  --color-itens-hover: rgba(84, 84, 84, 0.65);

  --color-heading: #ffffff;
  --color-text: rgba(235, 235, 235, 0.64);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body,
#app {
  min-height: 100vh;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  line-height: 1.1;
}
